html, body {
    height: 100%;
}

body {
    background: lightblue;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

.page-container {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    max-width: 960px;
    padding: 20px 15px;
    margin: 0 auto;
    background-color: #e6ecf0;
}

button, input[type='button']{
    background: lightslategrey;
    color: white;
    border: 2px solid lightslategrey;
    &:hover{
        cursor: pointer;
    }
}

.blog-list {
    list-style: none;
    padding: 0;
}

.blog-list__item {
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.blogForm {
    .blogFormInput {
        display: inline-block;
        width: 100%;
    }

    input[type='text'], textarea {
        box-sizing: border-box;
        width: 100%;
        min-height: 25px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid lightgray;
    }

    textarea {
        min-height: 115px;
    }
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination__item {
    display: inline-block;
    &:not(:last-child){
        margin-right: 10px;
    }
    .active {
        background-color: firebrick;
    }
}

.error-msgs {
    padding: 0;
    list-style: none;
    li {
        font-weight: bold;
        color: firebrick;
    }
}
