<pagination page="$ctrl.page" blogs="$ctrl.blogs"></pagination>
<h3>Total amount of articles: {{ $ctrl.blogs.length }}</h3>
<span ng-if="$ctrl.blogs.length === 0">No articles! =(</span>
<span ng-if="$ctrl.blogs.length > 0">
	There are {{ $ctrl.blogs.length }} articles.
</span>
<ul class="blog-list">
    <li class="blog-list__item" ng-repeat="blog in $ctrl.blogs | limitTo:$ctrl.articlesPerPage:$ctrl.articlesPerPage*$ctrl.page" >
        <label>
            <b>{{ blog.title }}</b>
        </label>
        : <small>{{ blog.updatedAt | date:"MM/dd/yy 'at' h:mma" }}</small>
        <p>{{ blog.body }}</p>
        <div>
            <button ng-click="$ctrl.removeBlog(blog._id)" style="margin-top: 5px; margin-right: 10px;">Delete</button>
            <button ng-click="$ctrl.activateEditBlog(blog._id)" style="margin-top: 5px;">Edit</button>
        </div>

    </li>
</ul>
