<h3>Blogs count: {{ $ctrl.blogs.length }}</h3>
<span ng-if="$ctrl.blogs.length === 0">No blogs!</span>
<span ng-if="$ctrl.blogs.length > 0">
	Hey! There are {{ $ctrl.blogs.length }} blogs.
</span>
<ul ng-repeat="blog in $ctrl.blogs" class="blog-list">
    <li class="blog-list__item">
        <label>
            <span ng-dblclick="$ctrl.activateEditBlog(blog._id)"> {{ blog.title }} </span>
        </label>
        : <small>{{ blog.updatedAt | date:"MM/dd/yy 'at' h:mma" }}</small>
        <button ng-click="$ctrl.removeBlog(blog._id)" style="display: block; margin-top: 5px;">Delete</button>
    </li>
</ul>
<p style="background-color: lightgray; padding: 10px 0;">
    <b>Hint:</b> Double click on article to open edit form
</p>
